<header>
    <h1 class="logo"><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Urdiales Art Studio</a></h1>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
        <ul>
          <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Blog</a></li>
          <li><a routerLink="/cursos" routerLinkActive="active" ariaCurrentWhenActive="page">Mis cursos</a></li>
          <li><a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">Perfil</a></li>
        </ul>
    </nav>
    <label for="nav-toggle" title="Show navbar" class="nav-toggle-label">
      <span></span>
    </label>
</header>