<div class="col-2">
    <div class="row" style="flex-direction: column;text-align: center;align-items: center;">
      <a class="text-light btn btn-primary mb-3" routerLink="/uploadPost" routerLinkActive="active" ariaCurrentWhenActive="page">Crear artículo</a>
      <a class="text-light btn btn-primary" routerLink="/uploadCourse" routerLinkActive="active" ariaCurrentWhenActive="page">Crear curso</a>
      <a class="text-light btn btn-primary" routerLink="/uploadProduct" routerLinkActive="active" ariaCurrentWhenActive="page">Crear Producto</a>
    </div>
  </div>