<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="logo mb-5 p-5">Nuevo curso</h1>
        </div>
        <div *ngIf="loading" class="col-12 align-content-left">
            <div class="spinner-border text-primary float-right" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="col-1"></div>

        <div class="col-10 mt-3" id="posts">
            <form [formGroup]="form">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="">
                        <i class="fa-regular fa-quote-left form-control"
                        [class.green-icon]="this.form.get('titulo')?.valid"
                        [class.red-icon]="this.form.get('titulo')?.invalid && this.form.get('titulo')?.touched"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Título" formControlName="nombre">
                </div>
        
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="">
                        <i class="fa-solid fa-comment form-control"
                        [class.green-icon]="this.form.get('descripcion')?.valid"
                        [class.red-icon]="this.form.get('descripcion')?.invalid && this.form.get('descripcion')?.touched"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Descripcion" formControlName="descripcion">
                </div>
        
                <div class="row">
                    <div class="col-lg-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="">
                                <i class="fa-solid fa-image form-control"></i>
                            </span>
                            </div>
                            <input type="file" (change)="imagePreview($event)" class="form-control" placeholder="Foto del artículo" formControlName="photo">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="">
                                <i class="fa-solid fa-link form-control"></i>
                            </span>
                            </div>
                            <input type="text" class=" form-control" formControlName="link">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="">
                                <i class="fa-regular fa-graduation-cap form-control"></i>
                            </span>
                            </div>
                            <input type="number" class=" form-control" formControlName="price">
                        </div>
                    </div>
                </div>

                <div (click)="postCourse()" class="row d-grip gap-2">
                    <button class="btn btn-success" type="submit" [disabled]="this.form.invalid">
                        <i class="fa-solid fa-database"></i>&nbsp;Aceptar</button>
                </div>
            </form>
        </div>
        
        <div class="col-1"></div>

    </div>
</div>