<div class="card">
    <div class="card-body">
        <h5>Listar tarjeta</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td>Diego Silva Gómez</td>
                    <td>1232123245346522</td>
                    <td>12/25</td>
                    <td>
                        <i class="fa fa-edit m-1 text-info"></i>
                        <i class="fa fa-trash-alt m-1 text-danger"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>