<div class="card">
    <div class="card-body">
        <h5>Listar tarjeta</h5>
        <table class="table">
            <tbody>
                <tr *ngFor="let tarjeta of listaTarjetas">
                    <td>{{tarjeta.titular}}</td>
                    <td>{{tarjeta.numeroTarjeta}}</td>
                    <td>{{tarjeta.fechaExpiracion}}</td>
                    <td>
                        <i (click)="editarTarjeta(tarjeta)" class="fa fa-edit m-1 text-info"></i>
                        <i (click)="eliminarTarjeta(tarjeta.id)" class="fa fa-trash-alt m-1 text-danger"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>