<app-parallax></app-parallax>

<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="logo mb-5 p-5">Tienda</h1>
        </div>

        <div class="col-1"></div>

        <div class="d-flex justify-content-center align-items-center" style="flex-wrap: wrap;">
    
            <div *ngFor="let product of products" class="card row m-3">
                <div class="col-12 mt-2">
                    <img src="{{product.photo}}" style="width: inherit; height: 225px;">
                </div>
                
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <div>
                        <h6 class="text-uppercase mb-0 col">{{product.nombre}}</h6>
                    </div>
                    <div>
                        <h5 class="text-uppercase mb-0 col">{{product.price}}€</h5>
                    </div>
                </div>

                <p class="col-12 mt-2" style="font-size: 16px;">{{product.descripcion}}</p>
                <div class="row">
                    <div class="col-2"></div>
                    <button (click)="addToCart($event)" class="btn btn-primary col-8">Añadir al carrito</button>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
        
        <div class="col-1"></div>

    </div>
</div>