<app-parallax></app-parallax>

<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="logo mb-5 p-5">Tienda</h1>
        </div>

        <div class="col-1"></div>

        <div class="d-flex justify-content-center align-items-center">
    
            <div *ngFor="let product of products" class="card row">
                <div class="col-12 mt-2">
                    <img src="../../../assets/images/Pastel_lienzo.PNG" style="width: inherit;">
                </div>
                
                <div class="col-12 justify-content-between align-items-center ">
                    <div class="mt-3">
                        <h5 class="text-uppercase mb-0">Lienzo paisaje</h5>
                    </div>
                </div>

                <p class="col-12">Lienzo de paisaje verde pintado al óleo.</p>
                <div class="row">
                    <div class="col-2"></div>
                    <button class="btn btn-primary col-8">Añadir al carrito</button>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
        
        <div class="col-1"></div>

    </div>
</div>