<div id="container">
    <div id="content">
      <div style="width: 100%; margin-left: auto; margin-right: auto; height: 290px;display:flex;align-items: center;justify-content: center;flex-direction: column;">
        <p class="portada-title">
            ESTHER GÓMEZ URDIALES
        </p>
        <p class="portada-subtitle">
            ART STUDIO
        </p>
      </div>
    </div>
  </div>
  
  <!-- our parallax stuff -->
  <div appParallax [ratio]="0.5" id="portada">
    <img src="../../../assets/images/portada.png" class="w-100">
    <img src="../../../assets/images/pastel_rojo.PNG" class="w-100">
    <img src="../../../assets/images/sketch.png" class="w-100">
    <img src="../../../assets/images/realismo.png" class="w-100">
  </div>