/* You can add global styles to this file, and also import other style files */
body {
    //background: #E0EAFC;  /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #dbe4ee !important;//#f7e7d0 !important;
    //background-color: #172337 !important;
    font-family: 'Playfair Display', serif;

}

.titulo {
    text-align: center;
    color: #ffb75e;
    font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --white: rgba(255, 255, 255,1.0);
  --pink: rgba(232, 67, 147,1.0);
  --black: rgba(0, 0, 0, .8);
}

html{ font-size: 17px; }

.card-body {
  background-color: #f8f8f8;
  //background-color: #39b2ad; LOGO AI
}

.card-body-post {
  color: #434c5e !important;
  background-color: #f8f8f8 !important;
}

//color palette rosita: #45062E, #CED3DC47,#ffb75e